body {
    background-color: beige;
}
.title{
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    padding: 50px; 
}

.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    border: solid 2px;
    width: 500px;
    height: 500px;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
}
